<form (ngSubmit)="onSubmit()" [formGroup]="petForm">
  <div class="container">
    <h4 class="display-4">Add Pet</h4>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="pet.name"
             class="form-control"
             id="name"
             name="name"
             placeholder="Enter name of the pet!"
             formControlName="name" required>
      <div [hidden]="!(petForm.get('name').invalid && (petForm.get('name').dirty || petForm.get('name').touched))"
           class="alert alert-danger">
        Name is required!
      </div>
      <label for="date">Date</label>
      <input type="date"
             [(ngModel)]="pet.birthDate"
             class="form-control"
             id="date"
             name="date"
             formControlName="date"
      >
    </div>
    <button type="submit" [disabled]="petForm.invalid"
            class="btn btn-info">Submit!
    </button>
  </div>
</form>
<p>{{this.pet.birthDate}}</p>
<p>{{this.pet.name}}</p>

