<form (ngSubmit)="onSubmit()" [formGroup]="vetForm">
  <div class="container">
    <h4 class="display-4">Add Vet</h4>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="vet.firstName"
             class="form-control"
             id="firstName"
             name="firstName"
             placeholder="Enter first name!"
             formControlName="firstName">
      <div [hidden]="(vetForm.get('firstName').valid)"
           class="alert alert-danger">First name is required!
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" [(ngModel)]="vet.lastName"
             class="form-control"
             id="lastName"
             name="lastName"
             placeholder="Enter last name!"
             formControlName="lastName">
      <div
        [hidden]="(vetForm.get('lastName').valid)"
        class="alert alert-danger">Last name is required!
      </div>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" [(ngModel)]="vet.age"
             class="form-control"
             id="age"
             placeholder="Enter age!"
             formControlName="age">
      <div
        [hidden]="(vetForm.get('age').valid)"
        class="alert alert-danger">Age is required!
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Speciality</label>
      <input type="text" [(ngModel)]="vet.speciality"
             class="form-control"
             id="speciality"
             name="lastName"
             placeholder="Enter speciality!"
      >
    </div>
    <button type="submit" [disabled]="vetForm.invalid"
            class="btn btn-info">Submit
    </button>
  </div>
</form>
