<h2 class="card-title text-center py-3">{{owner.id}}. {{owner.firstName}}
  {{owner.lastName}}  </h2>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Pet Name</th>
        <th scope="col">Age</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of pets">
        <td>{{ pet.id }}</td>
        <td>{{ pet.name }}</td>
        <td>{{pet.age}}</td>
        <td>
          <a routerLink="/pets/{{pet.id}}"><i class="btn fas fa-info-circle fa-2x"
                                              style="background-color: transparent"></i></a>
          <i class="btn fa fa-trash fa-2x" style="background-color: transparent" (click)="deletePet(pet.id)"></i>
          <i class="btn fa fa-edit fa-2x" style="background-color: transparent" (click)="editPet(pet.id)"></i>
        </td>
      </tr>
      </tbody>
    </table>
    <a routerLink="addpet" class="btn btn-info">Add Pet</a>
    <button (click)="deleteOwner()" class="btn btn-danger">Delete owner <i class="fas fa-trash-alt"></i>
    </button>
    <button (click)="editOwner()" class="btn btn-secondary">Edit owner</button>
  </div>
</div>



