<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spinners</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="bg-img">
  <div class="container p-3 my-3 bg-dark text-white">
    <h1 class="display-1" style="text-align: center">{{title}}</h1>
    <div style="text-align: center">
      <a href="owners" style="text-align: center;margin:5px" class="btn btn-primary btn-lg">
       <i class="fas fa-users"></i> List Owners
      </a>
      <a href="vets" style="text-align: center" class="btn btn-primary btn-lg">
        <i class="fas fa-user-nurse"></i> List Vets
      </a>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>

