<div class="card-body">
  <table class="table table-bordered table-striped" style="background-color: white">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Pets</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let owner of owners">
      <td>{{ owner.id }}</td>
      <td>{{ owner.firstName }} {{ owner.lastName }}</td>
      <td>
        <span *ngFor="let pet of owner.pets ; let i = index">{{i + 1}}.{{pet.name}} </span>
      </td>
      <td>
        <a routerLink="{{owner.id}}" [title]="'Details'"><i class="fas fa-info-circle fa-2x"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <a routerLink="/addowner" class="btn btn-info">Add Owner</a>
</div>

